<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.scorpinoc.uiexamples">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LayoutsActivity" />
        <activity android:name=".ButtonsActivity" />
        <activity android:name=".EditTextActivity" />
        <activity android:name=".TextViewActivity" />
        <activity android:name=".layouts.FrameLayoutActivity" />
        <activity android:name=".layouts.LinearLayoutActivity" />
        <activity android:name=".layouts.TableLayoutActivity" />
        <activity android:name=".layouts.RelativeLayoutActivity" />
        <activity android:name=".layouts.GridLayoutActivity" />
        <activity android:name=".layouts.ConstraintLayoutActivity" />
        <activity android:name=".layouts.constraint.RegistrationConstraintLayoutActivity" />
        <activity android:name=".layouts.constraint.ProfileConstraintLayoutActivity" />
        <activity android:name=".layouts.constraint.LoginConstraintLayoutActivity" />
        <activity
            android:name=".MainNavigationActivity"
            android:label="@string/title_activity_main_navigation"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>